<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.LeaveMapper">
	<resultMap id="LeaveInfoMap" type="com.example.demo.entity.LeaveInfo">
		<result property="id" column="id" />
		<result property="leaveMsg" column="leave_msg" />
		<result property="status" column="status"/>
		
	</resultMap>
	
	<select id="getById" parameterType="java.lang.String" resultMap="LeaveInfoMap">
		select * from leave_info where id = #{id}
	</select>

	<insert id="insert">
		insert into leave_info
		values(
			#{id},#{leaveMsg},#{status}
		)
	</insert>
	
	<update id="update" parameterType="com.example.demo.entity.LeaveInfo">
		update leave_info 
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="leaveMsg != null and leaveMsg != ''">
				leave_msg = #{leaveMsg},
			</if>
			<if test="status != null and status != ''">
				status = #{status}
			</if>
		</set>
			where id = #{id}
	</update>
</mapper>